/* fonts */
:root
{
  --title-font: "Raleway", sans-serif;
  --def-font: "Poppins", sans-serif;
}
/* color */
:root
{
  --primary-color: #3fbbc0;
  --nav-color: #fff;
  --appointment--color: #f7fcfc;
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

@media (max-width: 576px) and (min-width:300px)
{
  p 
  {
    font-size: 15px !important;
  }
   h3,h2 
  {
    font-size: 25px !important;
  }
}